 import java.util.Scanner;
public class daireAlani {
    public static void main(String[] args){
        double r , pi=3.14 , alan , dilimAlani ;
        int  dilimAcisi ;

        Scanner i= new Scanner(System.in);

        System.out.print("Yarı Çapı Giriniz: ");
        r= i.nextDouble();

        System.out.print("Daire Diliminin Açısını Giriniz: ");
        dilimAcisi= i.nextInt();

        alan = pi*r*r;
        dilimAlani = ( alan * dilimAcisi)/360;

        System.out.println("Dairenin Alanı: " +alan);
        System.out.println("Daire Diliminin Alanı: " +dilimAlani);


    }
}
